.App {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  gap: 30px;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 2;
}

.link {
  color: #ACACAC;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
}

.link:hover {
  color: #716F6F;
}

.link.active {
  color: #000000;
}

h1 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 72px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  margin: 0;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin: 0;
  line-height: 24px;
}

.home-text {
  padding: 130px 230px;
  z-index: 1;
}

.orange-block {
  position: absolute;
  top: 0;
  left: 380px;
  height: 150px;
  width: 150px;
  background-color: #E27D60;
  z-index: -1;
}

.blue-block {
  position: absolute;
  right: 0;
  top: 70px;
  height: 280px;
  width: 180px;
  background-color: #89D5D2;
  z-index: -1;
}

.pink-block {
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 200px;
  width: 350px;
  background-color: #C38D9E;
  z-index: -1;
}

.light-orange-block {
  position: absolute;
  right: 360px;
  bottom: 0px;
  height: 270px;
  width: 230px;
  background-color: #E8A87C;
  z-index: -1;
}

.highlights-container {
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro-container {
  position: relative;
  padding-bottom: 75px;
}

.white-text {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 30px;
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 100px;
  padding: 16px 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

button:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: grab;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  gap: 30px;
}

.cover-image {
  width: 600px;
  height: 450px;
}

.cover-image:hover {
  opacity: 85%;
  transition: opacity 200ms ease;
}

.content-container {
  padding: 80px;
  display: grid;
  grid-gap: 70px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.link-content {
  text-decoration: none;
}

.highlight-image {
  width: 590px;
  height: 670px;
}

.highlight-text-right {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #FFFFFF;
  top: 205px;
  left: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.highlight-text-left {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #FFFFFF;
  top: 205px;
  right: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.highlight-card-right {
  padding: 120px 160px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.highlight-card-left {
  padding: 120px 160px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.highlight-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

.banner {
  width: 100%;
}

.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 240px;
  right: 70px;
}

.section-container {
  padding: 100px;
  display: flex;
  flex-direction: row;
}