.App {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  gap: 30px;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 2;
}

.link {
  color: #ACACAC;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
}

.link:hover {
  color: #716F6F;
}

.link.active {
  color: #000000;
}

.link-home {
  color: #ACACAC;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
}

.link-home:hover {
  color: #716F6F;
}

.link-home-active {
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
}

h1 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 72px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  margin: 0;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  margin: 0;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #000000;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin: 0;
  line-height: 24px;
}

.home-text {
  padding: 130px 230px;
  z-index: 1;
}

.orange-block {
  position: absolute;
  top: 0;
  left: 380px;
  height: 150px;
  width: 150px;
  background-color: #E27D60;
  z-index: -1;
}

.blue-block {
  position: absolute;
  right: 0;
  top: 70px;
  height: 280px;
  width: 180px;
  background-color: #89D5D2;
  z-index: -1;
}

.pink-block {
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 200px;
  width: 350px;
  background-color: #C38D9E;
  z-index: -1;
}

.light-orange-block {
  position: absolute;
  right: 360px;
  bottom: 0px;
  height: 270px;
  width: 230px;
  background-color: #E8A87C;
  z-index: -1;
}

.highlights-container {
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro-container {
  position: relative;
  padding-bottom: 75px;
}

.white-text {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 30px;
}

button {
  background-color: white;
  border: 2px solid black;
  border-radius: 100px;
  padding: 16px 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  transition: all 200ms ease-in-out 0ms;
}

button:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: grab;
  transition: all 200ms ease-in-out 0ms;
}

.scroll-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: white;
  border: 2px solid #acacac;
  border-radius: 100px;
  padding: 10px 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #acacac;
}

.scroll-button:hover {
  background-color: #acacac;
  color: #FFFFFF;
  cursor: grab;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  gap: 30px;
}

.cover-image {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  transition: all 300ms ease-in-out 0ms;
}

.cover-image:hover {
  transform: rotate(2deg);
  transition: all 300ms ease-in-out 0ms;
}

.content-container {
  padding: 80px;
  display: grid;
  grid-gap: 70px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.link-content {
  text-decoration: none;
}

.highlight-image {
  width: 590px;
  height: 670px;
}

.highlight-text-right {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: #FFFFFF;
  top: 205px;
  left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.highlight-text-left {
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: #FFFFFF;
  top: 205px;
  right: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.highlight-card-right {
  padding: 120px 110px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.highlight-card-left {
  padding: 120px 110px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.highlight-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

.banner {
  width: 100%;
}

.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 240px;
  right: 70px;
}

.section-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.orange-section-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  background-color: #E8A87C;
}

.list {
  padding: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin: 0;
  line-height: 24px;
}

.list-wrapper {
  padding: 20px;
  margin: 0;
}

.personas-image {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 20px #ACACAC;
  margin: 30px 0px;
}

.storyboard-image {
  width: 80%;
}

.lo-fi-image {
  width: 70%;
}

.old-gcb {
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #ACACAC;
}

.burnt-orange-section-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  background-color:#E27D60;
}

.style-guide-image {
  width: 50%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.gcb-image-desktop {
  width: 530px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.gcb-image-tablet {
  width: 380px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.gcb-image-mobile {
  width: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.link-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  line-height: 24px;
}

.link-white:hover {
  color: #716F6F;
}

.blue-section-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  background-color: #89D5D2;
}

.forager {
  width: 60%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #ACACAC;
  align-self: center;
}

.forager-image {
  width: 40%;
  height: 40%;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #ACACAC;
}

.heyfood-app-image {
  width: 250px;
  border-radius: 20px;
  margin-right: 100px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.teal-section-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  background-color: #41B3A3;
}

.heyfood-sketch-image {
  width: 90%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.heyfood-lofi-image {
  width: 90%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.heyfood-hifi-image {
  width: 90%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

.scroll-container {
  display: flex;
  padding: 40px 80px;
  align-items: center;
  justify-content: flex-end;
}

.maple-image {
  width: 400px;
  border-radius: 20px;
  margin-right: 100px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.pink-section-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  background-color: #C38D9E;
}

.bread-gif {
  width: 395px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.gcb-gif-desktop {
  width: 530px;
}

.gcb-gif-tablet {
  width: 380px;
  border-radius: 21px;
}

.gcb-gif-mobile {
  width: 200px;
  border-radius: 29px;
}

.heyfood-gif {
  width: 300px;
}

.masonry {
  padding: 80px;
}